In [1]:
import pandas as pd

In [2]:
T = pd.read_csv("./itineraries.csv", nrows=5)

In [3]:
T

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-16,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [4]:
T.drop("searchDate", axis=1)

,legId,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,isNonStop,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-17,ATL,BOS,LA0NX0MC,PT2H29M,0,False,False,True,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,98685953630e772a098941b71906592b,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,True,...,1650200400,2022-04-17T09:00:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9000,947,coach
2,98d90cbc32bfbb05c2fc32897c7c1087,2022-04-17,ATL,BOS,LA0NX0MC,PT2H30M,0,False,False,True,...,1650218700,2022-04-17T14:05:00.000-04:00,BOS,ATL,Delta,DL,Boeing 757-200,9000,947,coach
3,969a269d38eae583f455486fa90877b4,2022-04-17,ATL,BOS,LA0NX0MC,PT2H32M,0,False,False,True,...,1650227460,2022-04-17T16:31:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9120,947,coach
4,980370cf27c89b40d2833a1d5afc9751,2022-04-17,ATL,BOS,LA0NX0MC,PT2H34M,0,False,False,True,...,1650213180,2022-04-17T12:33:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,9240,947,coach

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('sqlite://', echo=True)

In [7]:
engine

Engine(sqlite://)

In [8]:
T.to_sql('flight', con=engine)

2023-04-18 12:43:58,273 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("flight")
2023-04-18 12:43:58,277 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 12:43:58,278 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("flight")
2023-04-18 12:43:58,279 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 12:43:58,282 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 12:43:58,283 INFO sqlalchemy.engine.Engine
CREATE TABLE flight (
	"index" BIGINT,
	"legId" TEXT,
	"searchDate" TEXT,
	"flightDate" TEXT,
	"startingAirport" TEXT,
	"destinationAirport" TEXT,
	"fareBasisCode" TEXT,
	"travelDuration" TEXT,
	"elapsedDays" BIGINT,
	"isBasicEconomy" BOOLEAN,
	"isRefundable" BOOLEAN,
	"isNonStop" BOOLEAN,
	"baseFare" FLOAT,
	"totalFare" FLOAT,
	"seatsRemaining" BIGINT,
	"totalTravelDistance" BIGINT,
	"segmentsDepartureTimeEpochSeconds" BIGINT,
	"segmentsDepartureTimeRaw" TEXT,
	"segmentsArrivalTimeEpochSeconds" BIGINT,
	"segmentsArrivalTimeRaw" TEXT,
	"segmentsArrivalAirportCode" TEXT,
	"segmentsDepartureAirportCode" TEXT,
	"segmentsAirlineName" TEXT,
	"segmentsAirlineCode" TEXT,
	"segmentsEquipmentDescription" TEXT,
	"segmentsDurationInSeconds" BIGINT,
	"segmentsDistance" BIGINT,
	"segmentsCabinCode" TEXT
)


2023-04-18 12:43:58,284 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2023-04-18 12:43:58,286 INFO sqlalchemy.engine.Engine CREATE INDEX ix_flight_index ON flight ("index")
2023-04-18 12:43:58,287 INFO sqlalchemy.engine.Engine [no key 0.00093s] ()
2023-04-18 12:43:58,288 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 12:43:58,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 12:43:58,297 INFO sqlalchemy.engine.Engine INSERT INTO flight ("index", "legId", "searchDate", "flightDate", "startingAirport", "destinationAirport", "fareBasisCode", "travelDuration", "elapsedDays", "isBasicEconomy", "isRefundable", "isNonStop", "baseFare", "totalFare", "seatsRemaining", "totalTravelDistance", "segmentsDepartureTimeEpochSeconds", "segmentsDepartureTimeRaw", "segmentsArrivalTimeEpochSeconds", "segmentsArrivalTimeRaw", "segmentsArrivalAirportCode", "segmentsDepartureAirportCode", "segmentsAirlineName", "segmentsAirlineCode", "segmentsEquipmentDescription", "segmentsDurationInSeconds", "segmentsDistance", "segmentsCabinCode") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-04-18 12:43:58,298 INFO sqlalchemy.engine.Engine [generated in 0.00136s] ((0, '9ca0e81111c683bec1012473feefd28f', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H29M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, 1650214620, '2022-04-17T12:57:00.000-04:00', 1650223560, '2022-04-17T15:26:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 8940, 947, 'coach'), (1, '98685953630e772a098941b71906592b', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H30M', 0, 0, 0, 1, 217.67, 248.6, 4, 947, 1650191400, '2022-04-17T06:30:00.000-04:00', 1650200400, '2022-04-17T09:00:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 9000, 947, 'coach'), (2, '98d90cbc32bfbb05c2fc32897c7c1087', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H30M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, 1650209700, '2022-04-17T11:35:00.000-04:00', 1650218700, '2022-04-17T14:05:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Boeing 757-200', 9000, 947, 'coach'), (3, '969a269d38eae583f455486fa90877b4', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H32M', 0, 0, 0, 1, 217.67, 248.6, 8, 947, 1650218340, '2022-04-17T13:59:00.000-04:00', 1650227460, '2022-04-17T16:31:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 9120, 947, 'coach'), (4, '980370cf27c89b40d2833a1d5afc9751', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H34M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, 1650203940, '2022-04-17T09:59:00.000-04:00', 1650213180, '2022-04-17T12:33:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 9240, 947, 'coach'))
2023-04-18 12:43:58,300 INFO sqlalchemy.engine.Engine COMMIT

5

In [9]:
engine.execute('''SELECT legId FROM flight''').fetchall()

2023-04-18 12:44:10,583 INFO sqlalchemy.engine.Engine SELECT legId FROM flight
2023-04-18 12:44:10,584 INFO sqlalchemy.engine.Engine [raw sql] ()

[('9ca0e81111c683bec1012473feefd28f',),
 ('98685953630e772a098941b71906592b',),
 ('98d90cbc32bfbb05c2fc32897c7c1087',),
 ('969a269d38eae583f455486fa90877b4',),
 ('980370cf27c89b40d2833a1d5afc9751',)]

In [45]:
T2 = pd.read_csv("./itineraries.csv", chunksize= 50)

In [46]:
#T2.drop(1, axis=1)

for data in T2:
    print(data)
    break

                               legId  searchDate  flightDate startingAirport  \
0   9ca0e81111c683bec1012473feefd28f  2022-04-16  2022-04-17             ATL
1   98685953630e772a098941b71906592b  2022-04-16  2022-04-17             ATL
2   98d90cbc32bfbb05c2fc32897c7c1087  2022-04-16  2022-04-17             ATL
3   969a269d38eae583f455486fa90877b4  2022-04-16  2022-04-17             ATL
4   980370cf27c89b40d2833a1d5afc9751  2022-04-16  2022-04-17             ATL
5   79eda9f841e226a1e2121d74211e595c  2022-04-16  2022-04-17             ATL
6   9335fae376c38bb61263281779f469ec  2022-04-16  2022-04-17             ATL
7   3904bf87f2d1daf334f1ae7e3b876028  2022-04-16  2022-04-17             ATL
8   d93988734c44a3c075d9efe373352507  2022-04-16  2022-04-17             ATL
9   562e7d5dd6ecbf1509c0c19711dbdca9  2022-04-16  2022-04-17             ATL
10  c38a6e4b807d15541e5866676febcbec  2022-04-16  2022-04-17             ATL
11  f66d72ba3a526576608b8402b5720726  2022-04-16  2022-04-17             ATL
12  e7c4054e85cca9bc7134b3cc93deaf7c  2022-04-16  2022-04-17             ATL
13  5fa8c0f8b25eb24bf2ddc39a498bcc37  2022-04-16  2022-04-17             ATL
14  948d26b3e5658762cd62f842c87ae46e  2022-04-16  2022-04-17             ATL
15  cb345693479e84838dfaac346b8e8d6a  2022-04-16  2022-04-17             ATL
16  e1b95e4e6c997517f64ba5ea712bda22  2022-04-16  2022-04-17             ATL
17  eaf033a044596f0a76b132a490927524  2022-04-16  2022-04-17             ATL
18  721d9a2f66fe479e7c17b13e7ae0bb15  2022-04-16  2022-04-17             ATL
19  a9f012defb9227f69bf76617b47f4c51  2022-04-16  2022-04-17             ATL
20  676e25bb0ec021d335241354b668c674  2022-04-16  2022-04-17             ATL
21  712a4b5789013e5a4a3e499164309da8  2022-04-16  2022-04-17             ATL
22  a6a69aee2e8f75f9b12a5f6b60e65b59  2022-04-16  2022-04-17             ATL
23  fcf84a2b44a9fe185a4cebf5cee2e704  2022-04-16  2022-04-17             ATL
24  178742e9c46c9627147449926f997622  2022-04-16  2022-04-17             ATL
25  912ef0fbca3f88a86af24bdc1c1c6c0a  2022-04-16  2022-04-17             ATL
26  79c4a172ab07916313f5e8abec0bb1db  2022-04-16  2022-04-17             ATL
27  9863a0e6a923c09fab658b038299c8d5  2022-04-16  2022-04-17             ATL
28  9401afa39f1ad4275c73a66786500992  2022-04-16  2022-04-17             ATL
29  24c07cf38de8a7a0ed2d7709168042a8  2022-04-16  2022-04-17             ATL
30  5c132806994b4b0c7c87b90a7d1dfa2c  2022-04-16  2022-04-17             ATL
31  43eaa7e045b3e8a3157e5e38a31696c9  2022-04-16  2022-04-17             ATL
32  4228d70f70f9ebd1f8cbea9bda172e74  2022-04-16  2022-04-17             ATL
33  f089dc3fa43d8a196213d2140b766d55  2022-04-16  2022-04-17             ATL
34  15ba869216430a466549c8efcd3bb109  2022-04-16  2022-04-17             ATL
35  68063b78f62c81ac88820015908ac208  2022-04-16  2022-04-17             ATL
36  758560f5ea68263f52f418286c8d6b7d  2022-04-16  2022-04-17             ATL
37  d3f144017875166ea860f4929a528fed  2022-04-16  2022-04-17             ATL
38  8a6ab300fc0b1f1aa1da065091f878fb  2022-04-16  2022-04-17             ATL
39  33dba4888a3a68195d53ec2cc8b0a2d6  2022-04-16  2022-04-17             ATL
40  c845939967043028ed636265d9858c98  2022-04-16  2022-04-17             ATL
41  ce7fc430dda2de28280b107bbd9bdde9  2022-04-16  2022-04-17             ATL
42  755bc876091cb5997260bd99361b9e8e  2022-04-16  2022-04-17             ATL
43  37fa5869a691efc56a308dc636280c68  2022-04-16  2022-04-17             ATL
44  e121392f988f65cb003643978e5c68d8  2022-04-16  2022-04-17             ATL
45  0f4f714611896ddd63accedfa9050cd9  2022-04-16  2022-04-17             ATL
46  270a3e706e403f1d6d383c127d1647e9  2022-04-16  2022-04-17             ATL
47  99666577c217e0a6b54a17e2f8ab9a7b  2022-04-16  2022-04-17             ATL
48  dc2eda19b0499170f1f7f8c5a179ac07  2022-04-16  2022-04-17             ATL
49  a3538341dedeb12798f130dd6c1e1e01  2022-04-16  2022-04-17             ATL

   destinationAirport fareBasisCode travelDuration  elapsedDays  \
0                 BOS      LA0NX0MC        PT2H29M            0
1                 BOS      LA0NX0MC        PT2H30M            0
2                 BOS      LA0NX0MC        PT2H30M            0
3                 BOS      LA0NX0MC        PT2H32M            0
4                 BOS      LA0NX0MC        PT2H34M            0
5                 BOS      VH0AUEL1        PT2H38M            0
6                 BOS      V0AJZNN1        PT4H12M            0
7                 BOS      V0AJZNN1        PT5H18M            0
8                 BOS      V0AJZNN1        PT5H32M            0
9                 BOS      V0AJZNN1        PT6H38M            0
10                BOS      VAA0AKEN        PT4H46M            0
11                BOS      V0AJZNN1        PT5H45M            0
12                BOS      V0AJZNN1        PT5H59M            0
13                BOS      V0AJZNN1        PT7H18M            0
14                BOS      VAA0AKEN        PT8H10M            0
15                BOS           VNR        PT5H39M            0
16                BOS      KH0AUEY5        PT2H38M            0
17                BOS      L0AJZNN1        PT4H17M            0
18                BOS      L0AJZNN1        PT4H36M            0
19                BOS      L0AJZNN1        PT4H45M            0
20                BOS      L0AJZNN1         PT6H2M            0
21                BOS      L0AJZNN1        PT6H14M            0
22                BOS      WAA0AHBN        PT9H46M            1
23                BOS      WAA0AHBN        PT11H1M            1
24                BOS      WAA0AHBN       PT11H17M            1
25                BOS           YNR       PT12H19M            1
26                BOS      QAA0OKEN        PT6H17M            0
27                BOS      QAA0OKEN        PT6H25M            1
28                BOS      QA0OX0MC        PT2H32M            0
29                BOS      QH0KUEL1        PT2H44M            0
30                BOS      HA0QA0MQ        PT2H33M            0
31                BOS      HA0QA0MQ        PT2H35M            0
32                BOS      HA0QA0MQ        PT2H38M            0
33                BOS      QAA0JHES        PT4H40M            0
34                BOS      QAA0JHES        PT5H25M            0
35                BOS      HH0KUEY5        PT2H44M            0
36                BOS      EAA0OKEN        PT5H26M            0
37                CLT      V0AHZNN1        PT6H25M            0
38                CLT      VAA0JKEN        PT4H23M            0
39                CLT      M0AHZNN1         PT1H8M            0
40                CLT      MA0QA0MQ        PT1H10M            0
41                CLT      MA0QA0MQ        PT1H11M            1
42                CLT      MA0QA0MQ        PT1H11M            0
43                CLT      MA0QA0MQ        PT1H13M            0
44                CLT      MA0QA0MQ        PT1H14M            0
45                CLT      MA0QA0MQ        PT1H14M            0
46                CLT      MA0QA0MQ        PT1H17M            0
47                CLT      M0AHZNN1        PT1H21M            0
48                CLT      M0AHZNN1        PT1H22M            0
49                CLT      M0AHZNN1        PT1H26M            0

    isBasicEconomy  isRefundable  ...  segmentsArrivalTimeEpochSeconds  \
0            False         False  ...                       1650223560
1            False         False  ...                       1650200400
2            False         False  ...                       1650218700
3            False         False  ...                       1650227460
4            False         False  ...                       1650213180
5            False         False  ...                       1650216180
6            False         False  ...           1650203400||1650213120
7            False         False  ...           1650203400||1650217080
8            False         False  ...           1650198060||1650213120
9            False         False  ...           1650198060||1650217080
10           False         False  ...           1650194280||1650204960
11           False         False  ...           1650228840||1650241440
12           False         False  ...           1650240660||1650254340
13           False         False  ...           1650228840||1650247020
14           False         False  ...           1650198000||1650219600
15           False         False  ...           1650194400||1650207900
16           False         False  ...                       1650216180
17           False         False  ...           1650238620||1650249120
18           False         False  ...           1650212880||1650224280
19           False         False  ...           1650230760||1650243780
20           False         False  ...           1650212880||1650229440
21           False         False  ...           1650230760||1650249120
22            True         False  ...           1650253320||1650280140
23            True         False  ...           1650253320||1650284640
24            True         False  ...           1650248400||1650280140
25           False         False  ...           1650224700||1650262380
26           False         False  ...           1650214980||1650230400
27           False         False  ...           1650239580||1650255480
28           False         False  ...                       1650254220
29           False         False  ...                       1650243060
30           False         False  ...                       1650231780
31           False         False  ...                       1650243840
32           False         False  ...                       1650235680
33           False         False  ...           1650240420||1650248640
34           False         False  ...           1650217380||1650228600
35           False         False  ...                       1650243060
36           False         False  ...           1650222900||1650235800
37           False         False  ...           1650228840||1650243840
38           False         False  ...           1650194280||1650203580
39           False         False  ...                       1650230760
40           False         False  ...                       1650235080
41           False         False  ...                       1650255660
42           False         False  ...                       1650216720
43           False         False  ...                       1650211980
44           False         False  ...                       1650198840
45           False         False  ...                       1650242040
46           False         False  ...                       1650227520
47           False         False  ...                       1650198060
48           False         False  ...                       1650238620
49           False         False  ...                       1650212880

                               segmentsArrivalTimeRaw  \
0                       2022-04-17T15:26:00.000-04:00
1                       2022-04-17T09:00:00.000-04:00
2                       2022-04-17T14:05:00.000-04:00
3                       2022-04-17T16:31:00.000-04:00
4                       2022-04-17T12:33:00.000-04:00
5                       2022-04-17T13:23:00.000-04:00
6   2022-04-17T09:50:00.000-04:00||2022-04-17T12:3...
7   2022-04-17T09:50:00.000-04:00||2022-04-17T13:3...
8   2022-04-17T08:21:00.000-04:00||2022-04-17T12:3...
9   2022-04-17T08:21:00.000-04:00||2022-04-17T13:3...
10  2022-04-17T07:18:00.000-04:00||2022-04-17T10:1...
11  2022-04-17T15:54:00.000-05:00||2022-04-17T20:2...
12  2022-04-17T19:11:00.000-05:00||2022-04-17T23:5...
13  2022-04-17T15:54:00.000-05:00||2022-04-17T21:5...
14  2022-04-17T07:20:00.000-05:00||2022-04-17T14:2...
15  2022-04-17T07:20:00.000-04:00||2022-04-17T11:0...
16                      2022-04-17T13:23:00.000-04:00
17  2022-04-17T19:37:00.000-04:00||2022-04-17T22:3...
18  2022-04-17T12:28:00.000-04:00||2022-04-17T15:3...
19  2022-04-17T17:26:00.000-04:00||2022-04-17T21:0...
20  2022-04-17T12:28:00.000-04:00||2022-04-17T17:0...
21  2022-04-17T17:26:00.000-04:00||2022-04-17T22:3...
22  2022-04-17T23:42:00.000-04:00||2022-04-18T07:0...
23  2022-04-17T23:42:00.000-04:00||2022-04-18T08:2...
24  2022-04-17T22:20:00.000-04:00||2022-04-18T07:0...
25  2022-04-17T15:45:00.000-04:00||2022-04-18T02:1...
26  2022-04-17T12:03:00.000-05:00||2022-04-17T17:2...
27  2022-04-17T18:53:00.000-05:00||2022-04-18T00:1...
28                      2022-04-17T23:57:00.000-04:00
29                      2022-04-17T20:51:00.000-04:00
30                      2022-04-17T17:43:00.000-04:00
31                      2022-04-17T21:04:00.000-04:00
32                      2022-04-17T18:48:00.000-04:00
33  2022-04-17T20:07:00.000-04:00||2022-04-17T22:2...
34  2022-04-17T13:43:00.000-04:00||2022-04-17T16:5...
35                      2022-04-17T20:51:00.000-04:00
36  2022-04-17T15:15:00.000-04:00||2022-04-17T18:5...
37  2022-04-17T15:54:00.000-05:00||2022-04-17T21:0...
38  2022-04-17T07:18:00.000-04:00||2022-04-17T09:5...
39                      2022-04-17T17:26:00.000-04:00
40                      2022-04-17T18:38:00.000-04:00
41                      2022-04-18T00:21:00.000-04:00
42                      2022-04-17T13:32:00.000-04:00
43                      2022-04-17T12:13:00.000-04:00
44                      2022-04-17T08:34:00.000-04:00
45                      2022-04-17T20:34:00.000-04:00
46                      2022-04-17T16:32:00.000-04:00
47                      2022-04-17T08:21:00.000-04:00
48                      2022-04-17T19:37:00.000-04:00
49                      2022-04-17T12:28:00.000-04:00

    segmentsArrivalAirportCode  segmentsDepartureAirportCode  \
0                          BOS                           ATL
1                          BOS                           ATL
2                          BOS                           ATL
3                          BOS                           ATL
4                          BOS                           ATL
5                          BOS                           ATL
6                     CLT||BOS                      ATL||CLT
7                     CLT||BOS                      ATL||CLT
8                     CLT||BOS                      ATL||CLT
9                     CLT||BOS                      ATL||CLT
10                    IAD||BOS                      ATL||IAD
11                    ORD||BOS                      ATL||ORD
12                    ORD||BOS                      ATL||ORD
13                    ORD||BOS                      ATL||ORD
14                    ORD||BOS                      ATL||ORD
15                    FLL||BOS                      ATL||FLL
16                         BOS                           ATL
17                    CLT||BOS                      ATL||CLT
18                    CLT||BOS                      ATL||CLT
19                    CLT||BOS                      ATL||CLT
20                    CLT||BOS                      ATL||CLT
21                    CLT||BOS                      ATL||CLT
22                    EWR||BOS                      ATL||EWR
23                    EWR||BOS                      ATL||EWR
24                    EWR||BOS                      ATL||EWR
25                    FLL||BOS                      ATL||FLL
26                    ORD||BOS                      ATL||ORD
27                    ORD||BOS                      ATL||ORD
28                         BOS                           ATL
29                         BOS                           ATL
30                         BOS                           ATL
31                         BOS                           ATL
32                         BOS                           ATL
33                    EWR||BOS                      ATL||EWR
34                    EWR||BOS                      ATL||EWR
35                         BOS                           ATL
36                    IAD||BOS                      ATL||IAD
37                    ORD||CLT                      ATL||ORD
38                    IAD||CLT                      ATL||IAD
39                         CLT                           ATL
40                         CLT                           ATL
41                         CLT                           ATL
42                         CLT                           ATL
43                         CLT                           ATL
44                         CLT                           ATL
45                         CLT                           ATL
46                         CLT                           ATL
47                         CLT                           ATL
48                         CLT                           ATL
49                         CLT                           ATL

                     segmentsAirlineName segmentsAirlineCode  \
0                                  Delta                  DL
1                                  Delta                  DL
2                                  Delta                  DL
3                                  Delta                  DL
4                                  Delta                  DL
5                        JetBlue Airways                  B6
6   American Airlines||American Airlines              AA||AA
7   American Airlines||American Airlines              AA||AA
8   American Airlines||American Airlines              AA||AA
9   American Airlines||American Airlines              AA||AA
10                        United||United              UA||UA
11  American Airlines||American Airlines              AA||AA
12  American Airlines||American Airlines              AA||AA
13  American Airlines||American Airlines              AA||AA
14                        United||United              UA||UA
15      Spirit Airlines||Spirit Airlines              NK||NK
16                     American Airlines                  AA
17  American Airlines||American Airlines              AA||AA
18  American Airlines||American Airlines              AA||AA
19  American Airlines||American Airlines              AA||AA
20  American Airlines||American Airlines              AA||AA
21  American Airlines||American Airlines              AA||AA
22                        United||United              UA||UA
23                        United||United              UA||UA
24                        United||United              UA||UA
25      Spirit Airlines||Spirit Airlines              NK||NK
26                        United||United              UA||UA
27                        United||United              UA||UA
28                                 Delta                  DL
29                       JetBlue Airways                  B6
30                                 Delta                  DL
31                                 Delta                  DL
32                                 Delta                  DL
33                        United||United              UA||UA
34                        United||United              UA||UA
35                     American Airlines                  AA
36                        United||United              UA||UA
37  American Airlines||American Airlines              AA||AA
38                        United||United              UA||UA
39                     American Airlines                  AA
40                                 Delta                  DL
41                                 Delta                  DL
42                                 Delta                  DL
43                                 Delta                  DL
44                                 Delta                  DL
45                                 Delta                  DL
46                                 Delta                  DL
47                     American Airlines                  AA
48                     American Airlines                  AA
49                     American Airlines                  AA

                         segmentsEquipmentDescription  \
0                                         Airbus A321
1                                         Airbus A321

In [19]:
T2.to_sql('flight', con=engine, if_exists='append')

2023-04-18 11:38:47,396 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("flight")
2023-04-18 11:38:47,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 11:38:47,405 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-18 11:38:47,407 INFO sqlalchemy.engine.Engine INSERT INTO flight ("index", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-04-18 11:38:47,408 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ((0, '980370cf27c89b40d2833a1d5afc9751', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H34M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, '1650203940', '2022-04-17T09:59:00.000-04:00', '1650213180', '2022-04-17T12:33:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', '9240', '947', 'coach'), (1, '79eda9f841e226a1e2121d74211e595c', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'VH0AUEL1', 'PT2H38M', 0, 0, 0, 1, 217.67, 248.6, 7, 947, '1650206700', '2022-04-17T10:45:00.000-04:00', '1650216180', '2022-04-17T13:23:00.000-04:00', 'BOS', 'ATL', 'JetBlue Airways', 'B6', None, '9480', '947', 'coach'), (2, '9335fae376c38bb61263281779f469ec', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT4H12M', 0, 0, 0, 0, 213.02, 251.1, 3, 956, '1650198000||1650205620', '2022-04-17T08:20:00.000-04:00||2022-04-17T10:27:00.000-04:00', '1650203400||1650213120', '2022-04-17T09:50:00.000-04:00||2022-04-17T12:32:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A320||Airbus A320', '5400||7500', '228||728', 'coach||coach'), (3, '3904bf87f2d1daf334f1ae7e3b876028', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT5H18M', 0, 0, 0, 0, 213.02, 251.1, 3, 956, '1650198000||1650208800', '2022-04-17T08:20:00.000-04:00||2022-04-17T11:20:00.000-04:00', '1650203400||1650217080', '2022-04-17T09:50:00.000-04:00||2022-04-17T13:38:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A320||Boeing 737-800', '5400||8280', '228||728', 'coach||coach'), (4, 'd93988734c44a3c075d9efe373352507', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT5H32M', 0, 0, 0, 0, 213.02, 251.1, 7, 956, '1650193200||1650205620', '2022-04-17T07:00:00.000-04:00||2022-04-17T10:27:00.000-04:00', '1650198060||1650213120', '2022-04-17T08:21:00.000-04:00||2022-04-17T12:32:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A319||Airbus A320', '4860||7500', '228||728', 'coach||coach'))
2023-04-18 11:38:47,410 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) table flight has no column named 0
[SQL: INSERT INTO flight ("index", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((0, '980370cf27c89b40d2833a1d5afc9751', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H34M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, '1650203940', '2022-04-17T09:59:00.000-04:00', '1650213180', '2022-04-17T12:33:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', '9240', '947', 'coach'), (1, '79eda9f841e226a1e2121d74211e595c', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'VH0AUEL1', 'PT2H38M', 0, 0, 0, 1, 217.67, 248.6, 7, 947, '1650206700', '2022-04-17T10:45:00.000-04:00', '1650216180', '2022-04-17T13:23:00.000-04:00', 'BOS', 'ATL', 'JetBlue Airways', 'B6', None, '9480', '947', 'coach'), (2, '9335fae376c38bb61263281779f469ec', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT4H12M', 0, 0, 0, 0, 213.02, 251.1, 3, 956, '1650198000||1650205620', '2022-04-17T08:20:00.000-04:00||2022-04-17T10:27:00.000-04:00', '1650203400||1650213120', '2022-04-17T09:50:00.000-04:00||2022-04-17T12:32:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A320||Airbus A320', '5400||7500', '228||728', 'coach||coach'), (3, '3904bf87f2d1daf334f1ae7e3b876028', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT5H18M', 0, 0, 0, 0, 213.02, 251.1, 3, 956, '1650198000||1650208800', '2022-04-17T08:20:00.000-04:00||2022-04-17T11:20:00.000-04:00', '1650203400||1650217080', '2022-04-17T09:50:00.000-04:00||2022-04-17T13:38:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A320||Boeing 737-800', '5400||8280', '228||728', 'coach||coach'), (4, 'd93988734c44a3c075d9efe373352507', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'V0AJZNN1', 'PT5H32M', 0, 0, 0, 0, 213.02, 251.1, 7, 956, '1650193200||1650205620', '2022-04-17T07:00:00.000-04:00||2022-04-17T10:27:00.000-04:00', '1650198060||1650213120', '2022-04-17T08:21:00.000-04:00||2022-04-17T12:32:00.000-04:00', 'CLT||BOS', 'ATL||CLT', 'American Airlines||American Airlines', 'AA||AA', 'Airbus A319||Airbus A320', '4860||7500', '228||728', 'coach||coach'))]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [16]:
engine.execute('''SELECT * FROM flight''').fetchall()

2023-04-18 11:37:15,189 INFO sqlalchemy.engine.Engine SELECT * FROM flight
2023-04-18 11:37:15,190 INFO sqlalchemy.engine.Engine [raw sql] ()

[(0, '9ca0e81111c683bec1012473feefd28f', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H29M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, 1650214620, '2022-04-17T12:57:00.000-04:00', 1650223560, '2022-04-17T15:26:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 8940, 947, 'coach'),
 (1, '98685953630e772a098941b71906592b', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H30M', 0, 0, 0, 1, 217.67, 248.6, 4, 947, 1650191400, '2022-04-17T06:30:00.000-04:00', 1650200400, '2022-04-17T09:00:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 9000, 947, 'coach'),
 (2, '98d90cbc32bfbb05c2fc32897c7c1087', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H30M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, 1650209700, '2022-04-17T11:35:00.000-04:00', 1650218700, '2022-04-17T14:05:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Boeing 757-200', 9000, 947, 'coach'),
 (3, '969a269d38eae583f455486fa90877b4', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H32M', 0, 0, 0, 1, 217.67, 248.6, 8, 947, 1650218340, '2022-04-17T13:59:00.000-04:00', 1650227460, '2022-04-17T16:31:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 9120, 947, 'coach'),
 (4, '980370cf27c89b40d2833a1d5afc9751', '2022-04-16', '2022-04-17', 'ATL', 'BOS', 'LA0NX0MC', 'PT2H34M', 0, 0, 0, 1, 217.67, 248.6, 9, 947, 1650203940, '2022-04-17T09:59:00.000-04:00', 1650213180, '2022-04-17T12:33:00.000-04:00', 'BOS', 'ATL', 'Delta', 'DL', 'Airbus A321', 9240, 947, 'coach')]